{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}


<h1>To do</h1>




<div class="row mt-3 ms-2">
    <ul>
        <li>role parent : 
            <ul>
                <li>relation parent player</li>
            </ul>
        </li>
    </ul>
</div>








                     

{% endblock %}