{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}


<h1>To do</h1>




<div class="row mt-3 ms-2">
    <ul>
        <li>role parent : 
            <ul>
               <li>affichage des joueurs présents pour les entrainements dans une vue pour le coach</li>>
            </ul>
        </li>
    </ul>
</div>








                     

{% endblock %}