{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

<h1>Category</h1>



{% include "category/_submenu.html.twig" %}


<div class="row mt-3 ms-2" id="category-list">
    {% for item in categories %}
    <div class="card col-lg-2 m-1 p-0 col-sm-12 col-md-6 category-item">
        <div class="card-header">{{ item.title }}</div>
        <div class="card-body">
            <ul>
                {% for player in item.players %}
                     <li>{{ player.firstname }} {{ player.lastname }}</li>
                {% endfor %}
             </ul>
        </div>
        <div class="cardLink text-end">
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a class="btn btn-sm btn-info col-lg-5 col-sm-12 col-md-12 m-1" href="{{ path('app_category_edit', {'id':item.id}) }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit
                </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('search');
    const categoryList = document.getElementById('category-list');
    const categoryItems = document.querySelectorAll('.category-item');

    searchInput.addEventListener('keyup', function () {
        const searchTerm = searchInput.value.toLowerCase();

        categoryItems.forEach(function (item) {
            const title = item.textContent.toLowerCase();

            if (title.includes(searchTerm)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}
