{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}


{% block stylesheet %}{% endblock %}



{% block body %}


{% include "/includes/body1.html.twig" %}




<!-- Title -->
Category




{% include "/includes/body2.html.twig" %}






<!-- Content -->
{% include "category/_submenu.html.twig" %}


<div class="row rowfor">
{% for category in categories %}
    <a class="col-lg-1 colfor text-center" href="{{ path('app_category_edit', {'id':category.id}) }}">
        {{ category.title }}
    </a>
{% endfor %}
</div>










{% include "/includes/body3.html.twig" %}



{% endblock %}
