{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}


{% block stylesheet %}{% endblock %}



{% block body %}

<h1>Category</h1>



{% include "category/_submenu.html.twig" %}

<div class="col-lg-6 col-sm-12 col-md-12">
{{ include('category/_form.html.twig') }}
</div>



{% endblock %}
