
    <div class="nav-wrapper">
        <ul class="nav-menu">
            <li>
                <a href="{{ path('app_user_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span class="nav-link-text">List</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_user_new') }}">
                    <i class="fa-solid fa-plus-circle"></i>
                    <span class="nav-link-text">New</span>
                </a>
            </li>
        </ul>
    </div>

<br><br>