
{% set currentPath = app.request.pathinfo %}

    <div class="nav-wrapper">
        <ul class="nav-menu">
            <li>
                <a href="{{ path('app_user_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span class="nav-link-text">List</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_user_new') }}">
                    <i class="fa-solid fa-plus-circle"></i>
                    <span class="nav-link-text">New</span>
                </a>
            </li>
        </ul>
    </div>

    
    {% if 'new' not in currentPath and 'edit' not in currentPath %} 
    <!-- Search input -->
    <div class="row">
        <div class="search-container col-lg-3 col-sm-12 col-md-12">
            <input class="form-control" type="text" id="search" placeholder="Search User...">
        </div>
    </div>
    {% else %}
    {% endif %}